{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <!--

            
        -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/main.css'%}">

    <link rel="icon" type="image/x-icon" href="{% static 'mysite/images/magnifying-glass.png'%}">
    {% load bootstrap5 %}
    {# Load Bootstrap CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {# Load Bootstrap alerts #}
    {% bootstrap_messages %}
    <title>IPS</title>
</head>


<body>

    {% include 'service/aside.html' %}
    {% include 'service/navbar.html' %}

    <main id="main" class="main">
        <section class="section dashboard">

            {% block content %}
            {% endblock%}

        </section>
    </main>
</body>
{% include 'service/footer.html' %}

</html>